/* created by Baraka Larbi */
.indicateurs {
  -webkit-box-flex: 0;
  -ms-flex: 1 0 16.66667%;
  flex: 1 0 16.66667%;
  max-width: 30%;
}

.bgc-grey-100,
.bgc-white,
.c-grey-600 {
  background: url("./../images/blur.jpg") !important;
}

#viewDiv {
  padding: 0;
  margin-left: 1%;
  height: 100%;
  width: 98%;
}
.dash-table-container{
    color : dark;
    text-align: left; 
}
@media only screen and (min-width: 600px) {
  .mapping {
    height: 45vh;
  }
}

@media only screen and (max-width: 600px) {
  .mapping {
    width: 100% !important;
    height: 50vh;
  }
}

.c-grey-900,
td,
th,
tr {
  color: dark !important;
}

.results {
  height: 8vh;
  width: 10vh;
}

#loader {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 90000;
}

#loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}
h5{
  color :#f0ffff;
}
.peer-greed{
color:#ced7f5;
}
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.image {
  width: 80%;
  border-radius: 113%;
}

/* #################################### ADD YOUR CSS HERE !!! ################################################ */
#g{
  width: 84%;
  margin-left: 16%;
  margin-top: 10%;
}
.axesanal{
  margin-top: 10%;
}


.too .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.too .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.too:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
